# Setup

In [3]:
%%capture
%%bash
python ./generate_data.py
python ./run_ddl.py

Run Python code as shown below

In [5]:
a = 10

Run SQL code as shown below, with the `%%sql` called magics

In [6]:
%%sql
select 1

+---+
| 1 |
+---+
| 1 |
+---+

We use the `prod.db` schema where all our tables are create by `run_ddl.py`

In [4]:
%%sql --show
use prod.db

25/07/23 00:50:12 WARN SparkSession: Using an existing Spark session; only runtime SQL configurations will take effect.

++
||
++
++

## Your code below